<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>

  <styleBundle path="~/Dashboard/css">
    <include path="~/assets/css/bootstrap.css" />
    <include path="~/assets/css/font-awesome.css" />
    <include path="~/assets/css/custom.css" />
  </styleBundle>

  <styleBundle path="~/NewDashboard/css">
    <include path="~/Content/vendor/fontawesome-free/css/all.min.css" />
    <include path="~/Content/vendor/datatables/dataTables.bootstrap4.css" />
    <include path="~/Content/css/sb-admin.css" />
  </styleBundle>
</bundles>